<header>
  <div class="left-header">
    <a href="/">
      <img src="./images/jirachi_horizontal.png" alt="jirachi" height="40px" />
    </a>
  </div>
  <div class="right-header">
    <a href="/">Home</a>
    <a href="/random">Random</a>
    <a href="/berries">Berries</a>
    <a href="/search">Search</a>
  </div>
</header>
